@font-face
  font-family: "iconfont"; /* Project id 2536251 */
  src: url('../fonts/iconfont.woff2?t=1620541915200') format('woff2'),
       url('../fonts/iconfont.woff?t=1620541915200') format('woff'),
       url('../fonts/iconfont.ttf?t=1620541915200') format('truetype'),
       url('../fonts/iconfont.svg?t=1620541915200#iconfont') format('svg');

.iconfont
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.icon-music:before
  content: "\e601"

.icon-singer:before
  content: "\e783"

.icon-playlist:before
  content: "\e602"

.icon-play-1:before
  content: "\e64c"

.icon-xin:before
  content: "\e696"

.icon-down:before
  content: "\e628"

.icon-single-loop:before
  content: "\e600"

.icon-list-loop:before
  content: "\e63e"

.icon-shuffle-play:before
  content: "\e791"

.icon-pause:before
  content: "\e66d"

.icon-play:before
  content: "\e765"

.icon-prev:before
  content: "\e877"

.icon-next:before
  content: "\e6d2"

.icon-up:before
  content: "\e625"

.icon-bofang:before
  content: "\e66e"

.icon-sound:before
  content: "\e6f3"

.icon-plus:before
  content: "\e715"

.icon-earth:before
  content: "\e639"

.icon-menu:before
  content: "\e682"

.icon-hot:before
  content: "\e60e"

.icon-coffee:before
  content: "\e666"

.icon-laugh:before
  content: "\e60f"

.icon-piano:before
  content: "\e653"

.icon-play-2:before
  content: "\e77e"

.icon-next-btn:before
  content: "\e77c"

.icon-prev-btn:before
  content: "\e77d"

.icon-delete:before
  content: "\e73d"

.icon-list:before
  content: "\e640"

.icon-like:before
  content: "\e62a"

.icon-add:before
  content: "\e66c"

.icon-volume:before
  content: "\e605"

.icon-like-1:before
  content: "\e7d0"

.icon-mute:before
  content: "\e60c"

.icon-search:before
  content: "\e604"

.icon-like-2:before
  content: "\e618"
