// 全局样式变量定义
$bg-color = #2B2B2B
$bg-color-d = #222225
$bg-color-l = #333333
$text-color-ll = #D0D0D0
$text-color-l = #AFAFAF
$text-color-d = #7C7C7C
$red-color-d = #961717
$red-color-l = #EC4141

$font-size-l-x = 20px
$font-size-l = 16px
$font-size-m = 14px
$font-size-m-s = 12px
$font-size-s = 10px